/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  CONFIGURATION
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/


/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  RESPONSIVE LAYOUT

    -----------------------------
    JEET - (Syntax Quick Reference)
      column(ratios = 1, offset = 0, cycle = 0, uncycle = 0)
      span(ratio = 1, offset = 0)
      shift(ratios = 0, col_or_span = column)
      unshift()
      edit()
      center(max_width = 1410px, pad = 0)
      stack(pad = 0, align = false)
      unstack()
      align(direction = both)
      cf()
    -----------------------------

:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
configuration_breakpoint_xxl      = 1640px
configuration_breakpoint_tablet   = 1000px
configuration_breakpoint_phablet  =  640px
configuration_breakpoint_mobile   =  480px

// level_    = 318px
// level0min = 319px
// level0max = 392px
// level1min = 393px
// level1max = 494px
// level2min = 495px
// level2max = 643px
// level3min = 644px
// level3max = 799px
// level4min = 800px
// level4max = 995px
// maxLevel  = 996px

// level6  = "all and (min-width: " + maxLevel       + ")"
// level5  = "all and (min-width: " + level4min      + ") and (max-width: " + level4max + ")"
// level4  = "all and (min-width: " + level3min      + ") and (max-width: " + level3max + ")"
// level3  = "all and (min-width: " + level2min      + ") and (max-width: " + level2max + ")"
// level2  = "all and (min-width: " + level1min      + ") and (max-width: " + level1max + ")"
// level1  = "all and (min-width: " + level0min      + ") and (max-width: " + level0max + ")"
// level0  = "all and (max-width: " + level_         + ")"
// @media level6
//   body
//     padding-top 140px
// @media level5
//   body
//     padding-top 240px
// @media level4
//   body
//     padding-top 320px
// @media level3
//   body
//     padding-top 350px
// @media level2
//   body
//     padding-top 400px
// @media level1
//   body
//     padding-top 430px
// @media level0
//   body
//     padding-top 460px

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  COLOR THEME
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
configuration_orange  = #FEA304
configuration_black   = #010D0B
configuration_purple  = #4B0B6C
configuration_green   = #9EB277
configuration_white   = #F8F3EE


/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  FONT THEME
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
configuration_font_size_base    = 20px
configuration_font_family_base  = Helvetica


@font-face {
    font-family: 'timelessbold';
    src: url('/font/timeless-bold-webfont.eot');
    src: url('/font/timeless-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/font/timeless-bold-webfont.woff') format('woff'),
         url('/font/timeless-bold-webfont.ttf') format('truetype'),
         url('/font/timeless-bold-webfont.svg#timelessbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'timelessregular';
    src: url('/font/timeless-webfont.eot');
    src: url('/font/timeless-webfont.eot?#iefix') format('embedded-opentype'),
         url('/font/timeless-webfont.woff') format('woff'),
         url('/font/timeless-webfont.ttf') format('truetype'),
         url('/font/timeless-webfont.svg#timelessregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  VISUAL LANGUAGE
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
// Background
outerbackground     = drivn_darkest_grey
innerbackground     = drivn_darkest_grey
// Window
drivn_window        = drivn_white
drivn_windowshadow  = drivn_black
// Buttons
button_color1       = drivn_lightgreen
button_color2       = drivn_green
button_font         = drivn_white
drivn_highlight     = drivn_white
// Links
drivn_links1        = drivn_darkgreen
drivn_links2        = drivn_lightgreen
// Text
fontcolor           = drivn_grey
headingsfontcolor   = drivn_darkgreen
bordertop           = innerbackground
textshadow          = drivn_white
borderbottom        = drivn_lightgreen
// Input Text
input_fontcolor     = drivn_darkgrey
input_textboxbg     = drivn_lightgrey

configuration_color_main  = #ffffff
/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
