/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

                         #######  #######   #####
                            #     #     #  #     #
                            #     #     #  #
                            #     #     #  #
                            #     #     #  #
                            #     #     #  #     #
                            #     #######   #####

  _TABLE_OF_CONTENT     - Table of Content
  :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  ### DESCRIPTION

    _DEPENDENCIES       - DEPENDENCIES
    _COMPONENTS         - Components used in project
    _LEGACY             - Non BEM conform legacy vendor styling
    _PROJECT            - One time hacks for this project

  :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  ### ROADMAP

    @JOB: adapt TOC according to project needs
    @JOB: create 'npmgenerate-???'

                                              (by npmgenerate-??? version ???
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
// edit()

/*----------------------------------------------------------------------------*\
 * 01. = HELPER
\*----------------------------------------------------------------------------*/
helpers()
  .debugr
    border 1px dashed red
  .debugb
    border 1px dashed blue
  .debugg
    border 1px dashed green
  .debugy
    border 1px dashed yellow
  .debugw
    border 1px dashed white

// helpers()

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

 #####  ###### #####  ###### #    # #####  ###### #    #  ####  # ######  ####
 #    # #      #    # #      ##   # #    # #      ##   # #    # # #      #
 #    # #####  #    # #####  # #  # #    # #####  # #  # #      # #####   ####
 #    # #      #####  #      #  # # #    # #      #  # # #      # #           #
 #    # #      #      #      #   ## #    # #      #   ## #    # # #      #    #
 #####  ###### #      ###### #    # #####  ###### #    #  ####  # ######  ####

  _TABLE_OF_CONTENT _DEPENDENCIES
  :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  ### DESCRIPTION

    ...

  :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  ### ROADMAP

    ...

:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
// VENDOR IMPORTS
@require '../node_modules/nib'                      /* https://github.com/visionmedia/nib */
@require '../node_modules/jeet/stylus/jeet'         /* https://github.com/mojotech/jeet */
@require '../node_modules/rupture/rupture'          /* https://github.com/jenius/rupture */
@require '../node_modules/axis/axis'                /* https://github.com/jenius/axis */
@require '../node_modules/typographic/typographic'  /* https://github.com/corysimmons/typographic */

// CUSTOM IMPORTS
@require 'style/mixins'
@require 'style/prefixfree'
@require 'style/reset'
@require 'style/configuration'


/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

  ####    ####   #    #  #####    ####   #    #  ######  #    #  #####   ####
 #    #  #    #  ##  ##  #    #  #    #  ##   #  #       ##   #    #    #
 #       #    #  # ## #  #    #  #    #  # #  #  #####   # #  #    #     ####
 #       #    #  #    #  #####   #    #  #  # #  #       #  # #    #         #
 #    #  #    #  #    #  #       #    #  #   ##  #       #   ##    #    #    #
  ####    ####   #    #  #        ####   #    #  ######  #    #    #     ####

  _TABLE_OF_CONTENT _COMPONENTS
  :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  ### DESCRIPTION

    ...

  :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  ### ROADMAP

    ...

:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
// CARD
// @require 'card'
// Card()

//// LEAD
// @require 'lead'
// Lead()

@require 'adhocComponents'


/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

              #       ######   ####     ##     ####   #   #
              #       #       #    #   #  #   #    #   # #
              #       #####   #       #    #  #         #
              #       #       #  ###  ######  #         #
              #       #       #    #  #    #  #    #    #
              ######  ######   ####   #    #   ####     #

  _TABLE_OF_CONTENT _LEGACY
  :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  ### DESCRIPTION

    ...

  :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  ### ROADMAP

    ...

:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
@require 'legacy' // legacy.styl to put all the shit & cabbage from nonBEM
// @import 'places'
// @import 'place'
// @import 'components-sidr'


/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

           #####   #####    ####        #  ######   ####   #####
           #    #  #    #  #    #       #  #       #    #    #
           #    #  #    #  #    #       #  #####   #         #
           #####   #####   #    #       #  #       #         #
           #       #   #   #    #  #    #  #       #    #    #
           #       #    #   ####    ####   ######   ####     #

  _TABLE_OF_CONTENT _PROJECT
  :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  ### DESCRIPTION

    One time hacks for this project

  :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  ### ROADMAP

    ...

:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
@require 'project'
project(
  font_size:    configuration_font_size_base,
  font_family:  configuration_font_family_base
)
/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
