/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

                         #######  #######   #####
                            #     #     #  #     #
                            #     #     #  #
                            #     #     #  #
                            #     #     #  #
                            #     #     #  #     #
                            #     #######   #####

  _TABLE_OF_CONTENT     - Table of Content
  :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  ### DESCRIPTION

    _DEPENDENCIES       - DEPENDENCIES
    _COMPONENTS         - Components used in project
    _LEGACY             - Non BEM conform legacy vendor styling
    _PROJECT            - One time hacks for this project

  :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  ### ROADMAP

    @JOB: adapt TOC according to project needs
    @JOB: create 'npmgenerate-???'

                                              (by npmgenerate-??? version ???
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*----------------------------------------------------------------------------* * 01. = HELPER
\*----------------------------------------------------------------------------*/
/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

 #####  ###### #####  ###### #    # #####  ###### #    #  ####  # ######  ####
 #    # #      #    # #      ##   # #    # #      ##   # #    # # #      #
 #    # #####  #    # #####  # #  # #    # #####  # #  # #      # #####   ####
 #    # #      #####  #      #  # # #    # #      #  # # #      # #           #
 #    # #      #      #      #   ## #    # #      #   ## #    # # #      #    #
 #####  ###### #      ###### #    # #####  ###### #    #  ####  # ######  ####

  _TABLE_OF_CONTENT _DEPENDENCIES
  :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  ### DESCRIPTION

    ...

  :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  ### ROADMAP

    ...

:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
html {
  font-size: 62.5%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'timelessbold';
  src: url("/font/timeless-bold-webfont.eot");
  src: url("/font/timeless-bold-webfont.eot?#iefix") format('embedded-opentype'), url("/font/timeless-bold-webfont.woff") format('woff'), url("/font/timeless-bold-webfont.ttf") format('truetype'), url("/font/timeless-bold-webfont.svg#timelessbold") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'timelessregular';
  src: url("/font/timeless-webfont.eot");
  src: url("/font/timeless-webfont.eot?#iefix") format('embedded-opentype'), url("/font/timeless-webfont.woff") format('woff'), url("/font/timeless-webfont.ttf") format('truetype'), url("/font/timeless-webfont.svg#timelessregular") format('svg');
  font-weight: normal;
  font-style: normal;
}
/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

  ####    ####   #    #  #####    ####   #    #  ######  #    #  #####   ####
 #    #  #    #  ##  ##  #    #  #    #  ##   #  #       ##   #    #    #
 #       #    #  # ## #  #    #  #    #  # #  #  #####   # #  #    #     ####
 #       #    #  #    #  #####   #    #  #  # #  #       #  # #    #         #
 #    #  #    #  #    #  #       #    #  #   ##  #       #   ##    #    #    #
  ####    ####   #    #  #        ####   #    #  ######  #    #    #     ####

  _TABLE_OF_CONTENT _COMPONENTS
  :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  ### DESCRIPTION

    ...

  :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  ### ROADMAP

    ...

:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
.Navigation {
  z-index: 100;
  background-color: #4b0b6c;
  font-size: 2.49em;
  font-weight: 900;
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.Navigation a {
  color: #f8f3ee;
  text-transform: uppercase;
  text-decoration: none;
  padding-left: 0.6em;
  padding-right: 0.6em;
}
.Navigation a:hover {
  color: #4b0b6c;
  background-color: #f8f3ee;
}
.Pitchbox {
  position: relative;
  vertical-align: bottom;
}
.Pitchbox .Pitchbox__poster {
  z-index: -1;
  width: 100%;
  position: fixed;
  top: 0;
}
.Pitchbox .Pitchbox__adress {
  margin-left: 0;
  padding-left: 0.6em;
  padding-bottom: 1em;
  font-size: 0.72em;
  letter-spacing: 0.1em;
  line-height: 1.2em;
  font-weight: 100;
}
.Pitchbox .Pitchbox__title1,
.Pitchbox .Pitchbox__location {
  position: absolute;
  background-color: rgba(0,0,0,0.85);
  color: #f8f3ee;
  font-weight: 900;
  padding: 1.5em;
}
.Pitchbox .Pitchbox__title1 {
  top: 0;
  left: 0;
  width: 44.5em;
  text-align: center;
}
.Pitchbox .Pitchbox__title1a {
  font-size: 3.155em;
}
.Pitchbox .Pitchbox__title2 {
  padding-top: 0.2em;
  padding-left: 0.35em;
  font-size: 2.155em;
  font-weight: 100;
  letter-spacing: 0.17em;
  text-align: center;
}
.Pitchbox .Pitchbox__moment {
  text-transform: uppercase;
  padding-top: 0.5em;
  padding-left: 0.5em;
  font-size: 1.5em;
  font-weight: 100;
  letter-spacing: 0.08em;
}
.Pitchbox .Pitchbox__location {
  font-size: 1.5em;
  width: auto;
  top: 0;
  right: 0;
  padding: 0.8em;
  padding-top: 1.3em;
  padding-bottom: 1.3em;
}
.Pitchbox .Pitchbox__location .Pitchbox__logo {
  text-align: left;
}
.Pitchbox .Pitchbox__location img {
  width: 9.6em;
}
.Pitchbox .Pitchbox__description {
  position: absolute;
  top: 38em;
  width: 100%;
  background-color: rgba(0,0,0,0.85);
  color: #f8f3ee;
  line-height: 1.2em;
  font-weight: 900;
}
.Pitchbox .Pitchbox__description .Pitchbox__story1,
.Pitchbox .Pitchbox__description .Pitchbox__story2,
.Pitchbox .Pitchbox__description .Pitchbox__story3 {
  padding: 2em;
  padding-left: 4em;
  font-size: 1.17em;
  text-align: left;
}
.Pitchbox .Pitchbox__description .Pitchbox__story1 {
  background-color: #4b0b6c;
  text-align: center;
  text-transform: uppercase;
  line-height: 2em;
  font-size: 1.5em;
  color: #f8f3ee;
}
.Pitchbox .Pitchbox__description .Pitchbox__story2 {
  display: inline-block;
  text-align: left;
  font-size: 1.17em;
  vertical-align: top;
  width: 49%;
  font-size: 1.17em;
  color: #f8f3ee;
  background-color: rgba(0,0,0,0);
  text-align: top;
  line-height: 1.5em;
  text-align: left;
}
.Pitchbox .Pitchbox__description .Pitchbox__story3 {
  display: inline-block;
  text-align: left;
  vertical-align: top;
  color: #f8f3ee;
  text-align: top;
  width: 49%;
  font-size: 1.17em;
  line-height: 1.5em;
  text-align: left;
}
@media only screen and (max-width: 1000px) {
  .Pitchbox {
    position: relative;
    vertical-align: bottom;
  }
  .Pitchbox .Pitchbox__poster {
    z-index: -1;
    width: 100%;
    position: fixed;
    top: 0;
  }
  .Pitchbox .Pitchbox__adress {
    margin-left: 0;
    padding-left: 0.6em;
    padding-bottom: 1em;
    font-size: 0.72em;
    letter-spacing: 0.1em;
    line-height: 1.2em;
    font-weight: 100;
  }
  .Pitchbox .Pitchbox__title1,
  .Pitchbox .Pitchbox__location {
    position: absolute;
    background-color: rgba(0,0,0,0.85);
    color: #f8f3ee;
    font-weight: 900;
    padding: 1.5em;
  }
  .Pitchbox .Pitchbox__title1 {
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
  }
  .Pitchbox .Pitchbox__title1a {
    font-size: 3.155em;
  }
  .Pitchbox .Pitchbox__title2 {
    padding-top: 0.2em;
    padding-left: 0.35em;
    font-size: 2.155em;
    font-weight: 100;
    letter-spacing: 0.17em;
    text-align: center;
  }
  .Pitchbox .Pitchbox__moment {
    text-transform: uppercase;
    padding-top: 0.5em;
    padding-left: 0.5em;
    font-size: 1.5em;
    font-weight: 100;
    letter-spacing: 0.08em;
  }
  .Pitchbox .Pitchbox__location {
    font-size: 3em;
    width: 100%;
    top: 13em;
    right: 0;
    padding: 0.8em;
    padding-top: 1.3em;
    padding-bottom: 1.3em;
  }
  .Pitchbox .Pitchbox__location .Pitchbox__logo {
    text-align: left;
  }
  .Pitchbox .Pitchbox__location img {
    width: 9.6em;
  }
  .Pitchbox .Pitchbox__description {
    position: absolute;
    top: 38em;
    width: 100%;
    background-color: rgba(0,0,0,0.85);
    color: #f8f3ee;
    line-height: 1.2em;
    font-weight: 900;
  }
  .Pitchbox .Pitchbox__description .Pitchbox__story1,
  .Pitchbox .Pitchbox__description .Pitchbox__story2,
  .Pitchbox .Pitchbox__description .Pitchbox__story3 {
    padding: 2em;
    padding-left: 4em;
    font-size: 3em;
    text-align: center;
  }
  .Pitchbox .Pitchbox__description .Pitchbox__story1 {
    background-color: #4b0b6c;
    text-align: center;
    text-transform: uppercase;
    line-height: 2em;
    font-size: 2.6em;
    color: #f8f3ee;
  }
  .Pitchbox .Pitchbox__description .Pitchbox__story2 {
    display: inline-block;
    text-align: center;
    font-size: 3em;
    vertical-align: top;
    width: auto;
    font-size: 3em;
    color: #f8f3ee;
    background-color: #fea304;
    text-align: top;
    line-height: 1.5em;
    text-align: left;
  }
  .Pitchbox .Pitchbox__description .Pitchbox__story3 {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    color: #f8f3ee;
    text-align: top;
    width: auto;
    font-size: 3em;
    line-height: 1.5em;
    text-align: left;
  }
  .Pitchbox .Pitchbox__description {
    top: 71em;
  }
}
.Componentgrid {
  position: relative;
  display: block;
  font-size: 2em;
}
@media only screen and (max-width: 1000px) {
  .Componentgrid {
    position: relative;
  }
}
.Card {
  position: relative;
}
.Componentgrid--VARIANT\=Grid {
  margin-top: 52em;
}
.Componentgrid--VARIANT\=Grid .Card {
  width: 33.56%;
  margin-left: -0.14em;
  margin-right: -0.14em;
  padding-bottom: 29%;
  font-size: 1em;
  display: inline-block;
}
.Componentgrid--VARIANT\=Grid .Card:nth-child(4n+3) {
  background-color: rgba(0,0,0,0.75);
}
.Componentgrid--VARIANT\=Grid .Card:nth-child(4n+3) .name {
  color: #fea304;
}
.Componentgrid--VARIANT\=Grid .Card:nth-child(4n+4) {
  background-color: #4b0b6c;
}
.Componentgrid--VARIANT\=Grid .Card:nth-child(4n+4) .name {
  color: #fea304;
}
.Componentgrid--VARIANT\=Grid .Card:nth-child(4n+1) {
  background-color: rgba(0,0,0,0.75);
}
.Componentgrid--VARIANT\=Grid .Card:nth-child(4n+1) .name {
  color: #fea304;
}
.Componentgrid--VARIANT\=Grid .Card:nth-child(4n+2) {
  background-color: #4b0b6c;
}
.Componentgrid--VARIANT\=Grid .Card:nth-child(4n+2) .name {
  color: #fea304;
}
@media only screen and (max-width: 1000px) {
  .Componentgrid--VARIANT\=Grid {
    margin-top: 154em;
  }
  .Componentgrid--VARIANT\=Grid .Card {
    width: 50.6%;
    margin-left: -0.14em;
    margin-right: -0.14em;
    padding-bottom: 42%;
    font-size: 1.5em;
    display: inline-block;
  }
  .Componentgrid--VARIANT\=Grid .Card:nth-child(4n+3) {
    background-color: #4b0b6c;
  }
  .Componentgrid--VARIANT\=Grid .Card:nth-child(4n+3) .name {
    color: #fea304;
  }
  .Componentgrid--VARIANT\=Grid .Card:nth-child(4n+4) {
    background-color: #4b0b6c;
  }
  .Componentgrid--VARIANT\=Grid .Card:nth-child(4n+4) .name {
    color: #fea304;
  }
  .Componentgrid--VARIANT\=Grid .Card:nth-child(4n+1) {
    background-color: rgba(0,0,0,0.75);
  }
  .Componentgrid--VARIANT\=Grid .Card:nth-child(4n+1) .name {
    color: #fea304;
  }
  .Componentgrid--VARIANT\=Grid .Card:nth-child(4n+2) {
    background-color: rgba(0,0,0,0.75);
  }
  .Componentgrid--VARIANT\=Grid .Card:nth-child(4n+2) .name {
    color: #fea304;
  }
}
.Title {
  font-size: 2em;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: #9eb277;
  font-weight: bold;
  background-color: #010d0b;
  text-align: center;
  padding: 1em;
}
.Componentgrid--VARIANT\=List {
  padding-bottom: 2em;
}
.Componentgrid--VARIANT\=List .Card {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30em;
  padding: 0.8em;
  text-align: center;
}
.Componentgrid--VARIANT\=List .Card:nth-child(even) {
  background-color: #010d0b;
  opacity: 0.9;
  width: 80%;
  text-align: center;
  font-size: 0.8em;
  font-weight: bold;
  color: #f8f3ee;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
}
.Componentgrid--VARIANT\=List .Card:nth-child(even):hover {
  opacity: 0.98;
}
.Componentgrid--VARIANT\=List .Card:nth-child(even) a {
  color: #f8f3ee;
  text-decoration: none;
}
.Componentgrid--VARIANT\=List .Card:nth-child(odd) {
  background-color: #010d0b;
  opacity: 0.98;
  width: 80%;
  text-align: center;
  font-size: 0.8em;
  font-weight: bold;
  color: #9eb277;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
}
.Componentgrid--VARIANT\=List .Card:nth-child(odd) a {
  color: #9eb277;
  text-decoration: none;
}
#SPEAKERS .Componentgrid__title {
  color: #f8f3ee;
  padding: 1em;
  text-align: center;
  font-size: 1.8em;
  font-weight: 900;
  background-color: rgba(0,0,0,0.85);
}
.avatar {
  width: 9em;
  height: 9em;
  margin: 0.5em auto 0.5em auto;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: -webkit-linear-gradient(45deg, rgba(255,255,255,0) 50%, rgba(255,255,255,0.2) 50%);
  background: -moz-linear-gradient(45deg, rgba(255,255,255,0) 50%, rgba(255,255,255,0.2) 50%);
  background: -ms-linear-gradient(45deg, rgba(255,255,255,0) 50%, rgba(255,255,255,0.2) 50%);
  background: -o-linear-gradient(45deg, rgba(255,255,255,0) 50%, rgba(255,255,255,0.2) 50%);
  background: linear-gradient(45deg, rgba(255,255,255,0) 50%, rgba(255,255,255,0.2) 50%);
  background: linear-gradient(45deg, rgba(255,255,255,0) 50%, rgba(255,255,255,0.2) 50%);
  background: linear-gradient(45deg, rgba(255,255,255,0) 50%, rgba(255,255,255,0.2) 50%);
  background: linear-gradient(45deg, rgba(255,255,255,0) 50%, rgba(255,255,255,0.2) 50%);
  background: -webkit-linear-gradient(45deg, rgba(255,255,255,0) 50%, rgba(255,255,255,0.2) 50%);
  background: -moz-linear-gradient(45deg, rgba(255,255,255,0) 50%, rgba(255,255,255,0.2) 50%);
  background: -o-linear-gradient(45deg, rgba(255,255,255,0) 50%, rgba(255,255,255,0.2) 50%);
  background: -ms-linear-gradient(45deg, rgba(255,255,255,0) 50%, rgba(255,255,255,0.2) 50%);
  background: linear-gradient(45deg, rgba(255,255,255,0) 50%, rgba(255,255,255,0.2) 50%);
  -webkit-background-size: 150%;
  -moz-background-size: 150%;
  background-size: 150%;
  cursor: pointer;
  overflow: hidden;
}
.avatar img {
  width: 100%;
}
.avatar:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-transition: all 3s ease-out;
  -moz-transition: all 3s ease-out;
  -ms-transition: all 3s ease-out;
  -o-transition: all 3s ease-out;
  transition: all 3s ease-out;
}
.Card--VARIANT\=Userprofile a {
  text-decoration: none;
  display: block;
  position: absolute;
  top: 0;
  width: 15em;
  left: 0;
}
.Card--VARIANT\=Userprofile a .avatar {
  position: relative;
  left: -0.6em;
}
.Card--VARIANT\=Userprofile a .name {
  font-size: 1em;
  color: #fea304;
  font-weight: 900;
}
.Card--VARIANT\=Userprofile a .name,
.Card--VARIANT\=Userprofile a .description {
  position: relative;
  left: -0.6em;
  display: inline-block;
  text-align: center;
  width: 100%;
}
.Card--VARIANT\=Userprofile a .description {
  font-size: 0.5em;
  color: #f8f3ee;
  font-weight: 900;
}
.empty {
  font-size: 2em;
  color: #fea304;
  font-weight: 900;
  margin-top: 2.5em;
  display: inline-block;
  text-align: center;
  width: 100%;
}
.Button {
  clear: both;
}
.Button--VARIANT\=Buy {
  display: block;
  background-color: #4b0b6c;
  padding: 4em;
  padding-left: 31em;
  margin-top: 0em;
  margin-bottom: 4em;
}
.Button--VARIANT\=Buy a {
  display: inline-block;
  text-align: center;
  line-height: 2em;
  font-weight: 900;
  text-decoration: none;
  color: #f8f3ee;
  font-size: 2em;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
  width: 10em;
  height: 2em;
  background-color: #fea304;
}
.Button--VARIANT\=Buy a:hover {
  color: #fea304;
  background-color: #f8f3ee;
}
.Button--VARIANT\=Buy img {
  width: 20em;
}
.Pitchbox__action {
  text-align: center;
}
@media only screen and (max-width: 1000px) {
  .Button {
    padding: 10em;
    padding-left: 17em;
  }
  .Button a {
    font-size: 5em;
  }
  .Pitchbox__action {
    position: absolute;
    right: 2em;
    top: 4em;
    font-size: 1.2em;
  }
}
.Pitchbox__action a {
  display: inline-block;
  text-align: center;
  line-height: 2em;
  font-weight: 900;
  text-decoration: none;
  color: #f8f3ee;
  font-size: 1em;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
  width: 9em;
  height: 2em;
  background-color: #fea304;
  margin: 0 auto;
}
.Pitchbox__action a:hover {
  color: #fea304;
  background-color: #f8f3ee;
}
.Venue {
  z-index: 100;
  position: relative;
  background-color: none;
  width: 100%;
  overflow: hidden;
  font-size: inherit;
  vertical-align: top;
}
.Venue .Venue__map {
  z-index: 200;
  display: block;
  margin: 0 auto;
  height: 30em;
  width: 100%;
}
.Venue .Venue__link {
  z-index: 300;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 30em;
  text-decoration: none;
}
.Venue .Venu__description {
  z-index: 400;
  position: absolute;
  top: 3em;
  right: 3em;
  display: block;
  font-size: 2em;
  font-weight: 900;
  text-decoration: none;
  padding: 0.1em;
}
.Venue .Venu__description span {
  display: inline-block;
  background: #000;
  background: rgba(0,0,0,0.75);
  color: #f8f3ee;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 7px;
  padding-bottom: 3px;
}
.Subscribe {
  z-index: 100;
  position: relative;
  width: 100%;
  padding: 1em;
  overflow: hidden;
  font-size: 2.5em;
  vertical-align: top;
  background-color: #9eb277;
}
.Subscribe__box {
  z-index: 100;
  display: block;
  width: 30em;
  height: 14em;
  margin: 0 auto;
  padding-left: 0.5em;
}
.Subscribe__box::before {
  content: "[";
  display: inline-block;
  color: #4b0b6c;
  font-size: 12em;
  font-weight: 900;
}
.Subscribe__box::after {
  content: "]";
  display: inline-block;
  color: #4b0b6c;
  font-size: 12em;
  font-weight: 900;
}
.Subscribe__content {
  position: relative;
  display: inline-block;
  width: 20em;
  bottom: 1.3em;
  padding-left: 0.38em;
}
.Subscribe__description {
  font-size: 2em;
  font-weight: 900;
  letter-spacing: 0.02em;
  color: #4b0b6c;
  padding-left: 1.4em;
}
.Subscribe__input-email {
  display: inline-block;
  border: 0.1em solid #4b0b6c;
  color: #4b0b6c;
  background-color: #9eb277;
  width: 12em;
  height: 2em;
  font-size: 1em;
  margin-top: 0.4em;
  padding-left: 0.4em;
}
.Subscribe__input-email::-webkit-input-placeholder {
  color: #f8f3ee;
}
.Subscribe__input-email:-moz-placeholder {
  color: #f8f3ee;
  opacity: 1;
}
.Subscribe__input-email::-moz-placeholder {
  color: #f8f3ee;
  opacity: 1;
}
.Subscribe__input-email:-ms-input-placeholder {
  color: #f8f3ee;
}
.Subscribe__action-submit {
  display: inline-block;
  border: none;
  color: #9eb277;
  background-color: #4b0b6c;
  width: 7em;
  height: 2em;
  font-size: 1em;
  margin-top: 0.4em;
}
.About {
  font-size: 3em;
/*
  Setting up our colors for each social media site.

  Here's a handy list of social media colors:
    http://designpieces.com/2012/12/social-media-colours-hex-and-rgb/
  */
/*Facebook*/
/*Twitter*/
/*Google Plus*/
/*Instagram*/
/*Tumblr*/
/*Flickr*/
/*Vine*/
/*
  Setting equal widths dependent on the number of links.
  Add or remove as many as necessary.
  */
/* one item */
/* two items */
/* three items */
/* four items */
/* five items */
/* six items */
/* seven items */
/* eight items */
/*
  Assigning link background colors and setting the hover and active states. For quick adding of buttons, perform a search + replace on the 2 letter variable name.
  */
}
.About .About__description {
  margin: 5em 0em 0em 0em;
  padding: 1em 0em 0.6em 0em;
  background-color: rgba(0,0,0,0.85);
  color: #f8f3ee;
  letter-spacing: 0.02em;
}
.About .About__description .About__description__name {
  color: #f8f3ee;
  padding-bottom: 0.4em;
  font-size: 0.8em;
  text-align: center;
  font-weight: bold;
}
.About .About__description .About__description__address {
  font-size: 0.7em;
  text-align: center;
  font-weight: bold;
}
.About .About__description .About__description__allRightsReserved {
  text-align: center;
  font-size: 0.4em;
  padding-bottom: 0.2em;
}
.About .About__description .About__description__websiteDesign {
  font-size: 0.4em;
  text-align: center;
}
.About .About__links {
  width: 100%;
  height: 3em;
  display: table;
  margin: 0;
}
.About .About__links a {
  display: table-cell;
  color: #fff;
  width: 14.2%;
  text-align: center;
  font-size: 2em;
  padding: 0.5em;
}
@media (max-width: 768px) {
  .About .About__links a {
    font-size: 1.5em;
  }
}
.About .About__crew.Componentgrid {
  margin-top: 0em;
}
.About .About__crew {
  font-size: 0.68em;
}
.About .About__crew .Componentgrid__title {
  color: #f8f3ee;
  padding: 1em;
  text-align: center;
  font-size: 1.8em;
  font-weight: 900;
  background-color: rgba(0,0,0,0.85);
}
.About .About__crew.Componentgrid--VARIANT\=Grid .Card {
  width: 33.56%;
  margin-left: -0.14em;
  margin-right: -0.14em;
  padding-bottom: 29%;
  font-size: 1em;
  display: inline-block;
}
.About .About__crew.Componentgrid--VARIANT\=Grid .Card:nth-child(4n+3) {
  background-color: #fea304;
}
.About .About__crew.Componentgrid--VARIANT\=Grid .Card:nth-child(4n+3) .name {
  color: #010d0b;
}
.About .About__crew.Componentgrid--VARIANT\=Grid .Card:nth-child(4n+4) {
  background-color: rgba(0,0,0,0.75);
}
.About .About__crew.Componentgrid--VARIANT\=Grid .Card:nth-child(4n+4) .name {
  color: #fea304;
}
.About .About__crew.Componentgrid--VARIANT\=Grid .Card:nth-child(4n+1) {
  background-color: #fea304;
}
.About .About__crew.Componentgrid--VARIANT\=Grid .Card:nth-child(4n+1) .name {
  color: #010d0b;
}
.About .About__crew.Componentgrid--VARIANT\=Grid .Card:nth-child(4n+2) {
  background-color: rgba(0,0,0,0.75);
}
.About .About__crew.Componentgrid--VARIANT\=Grid .Card:nth-child(4n+2) .name {
  color: #fea304;
}
@media only screen and (max-width: 1000px) {
  .About .About__crew.Componentgrid--VARIANT\=Grid .Card {
    width: 50.6%;
    margin-left: -0.14em;
    margin-right: -0.14em;
    padding-bottom: 42%;
    font-size: 1.5em;
    display: inline-block;
  }
  .About .About__crew.Componentgrid--VARIANT\=Grid .Card:nth-child(4n+3) {
    background-color: rgba(0,0,0,0.75);
  }
  .About .About__crew.Componentgrid--VARIANT\=Grid .Card:nth-child(4n+3) .name {
    color: #fea304;
  }
  .About .About__crew.Componentgrid--VARIANT\=Grid .Card:nth-child(4n+4) {
    background-color: rgba(0,0,0,0.75);
  }
  .About .About__crew.Componentgrid--VARIANT\=Grid .Card:nth-child(4n+4) .name {
    color: #fea304;
  }
  .About .About__crew.Componentgrid--VARIANT\=Grid .Card:nth-child(4n+1) {
    background-color: #fea304;
  }
  .About .About__crew.Componentgrid--VARIANT\=Grid .Card:nth-child(4n+1) .name {
    color: #010d0b;
  }
  .About .About__crew.Componentgrid--VARIANT\=Grid .Card:nth-child(4n+2) {
    background-color: #fea304;
  }
  .About .About__crew.Componentgrid--VARIANT\=Grid .Card:nth-child(4n+2) .name {
    color: #010d0b;
  }
}
.About .About__links a:first-child:nth-last-child(1) {
  width: 100%;
}
.About .About__links a:first-child:nth-last-child(2),
.About .About__links a:first-child:nth-last-child(2) ~ a {
  width: 50%;
}
.About .About__links a:first-child:nth-last-child(3),
.About .About__links a:first-child:nth-last-child(3) ~ a {
  width: 33.3333%;
}
.About .About__links a:first-child:nth-last-child(4),
.About .About__links a:first-child:nth-last-child(4) ~ a {
  width: 25%;
}
.About .About__links a:first-child:nth-last-child(5),
.About .About__links a:first-child:nth-last-child(5) ~ a {
  width: 20%;
}
.About .About__links a:first-child:nth-last-child(6),
.About .About__links a:first-child:nth-last-child(6) ~ a {
  width: 16.666%;
}
.About .About__links a:first-child:nth-last-child(7),
.About .About__links a:first-child:nth-last-child(7) ~ a {
  width: 14.285%;
}
.About .About__links a:first-child:nth-last-child(8),
.About .About__links a:first-child:nth-last-child(8) ~ a {
  width: 12.5%;
}
.About .About__facebook {
  background: #3b5998;
  text-shadow: 1px 1px 0px #263961;
}
.About .About__facebook:hover {
  color: #3055a3 !important;
  background: #2d4373;
}
.About .About__facebook:active {
  color: #3b5998;
  background: #1e2e4f;
}
.About .About__twitter {
  background: #55acee;
  text-shadow: 1px 1px 0px #1689e0;
}
.About .About__twitter:hover {
  color: #4cadf7 !important;
  background: #2795e9;
}
.About .About__twitter:active {
  color: #55acee;
  background: #147bc9;
}
.About .About__email {
  background: #dd4b39;
  text-shadow: 1px 1px 0px #ac2d1e;
}
.About .About__email:hover {
  color: #e9422d !important;
  background: #c23321;
}
.About .About__email:active {
  color: #dd4b39;
  background: #96271a;
}
/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

              #       ######   ####     ##     ####   #   #
              #       #       #    #   #  #   #    #   # #
              #       #####   #       #    #  #         #
              #       #       #  ###  ######  #         #
              #       #       #    #  #    #  #    #    #
              ######  ######   ####   #    #   ####     #

  _TABLE_OF_CONTENT _LEGACY
  :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  ### DESCRIPTION

    ...

  :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  ### ROADMAP

    ...

:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

           #####   #####    ####        #  ######   ####   #####
           #    #  #    #  #    #       #  #       #    #    #
           #    #  #    #  #    #       #  #####   #         #
           #####   #####   #    #       #  #       #         #
           #       #   #   #    #  #    #  #       #    #    #
           #       #    #   ####    ####   ######   ####     #

  _TABLE_OF_CONTENT _PROJECT
  :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  ### DESCRIPTION

    One time hacks for this project

  :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  ### ROADMAP

    ...

:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: hidden;
}
*,
*:before,
*:after {
/* @TODO: http://css-tricks.com/autoprefixer/ */
/* Chrome 9-, Safari 5-, iOS 4.2-, Android 3-, Blackberry 7- */
  -webkit-box-sizing: inherit;
/* Firefox (desktop or Android) 28- */
  -moz-box-sizing: inherit;
/* Firefox 29+, IE 8+, Chrome 10+, Safari 5.1+, Opera 9.5+, iOS 5+, Opera Mini Anything, Blackberry 10+, Android 4+ */
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
#hideAll {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-color: #f8f3ee;
  z-index: 9999;
}
body {
  z-index: 0;
  background-color: #ffeed6;
  max-width: 100%;
  overflow-x: hidden;
}
#CONTAINER {
  font-size: 20px;
  font-family: Helvetica;
}
#author {
  text-decoration: none;
  font-weight: 900;
  color: #9eb277;
}
/*-----------------------------------------------------------------------------
    BACK TO TOP
  -----------------------------------------------------------------------------*/
#BackToTop {
  z-index: 800;
  font-size: 3em;
  position: fixed;
  bottom: 0.5em;
  right: 1em;
  padding: 0.3em;
  background-color: #4b0b6c;
  opacity: 0.3;
  border: 0.03em solid #010d0b;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-decoration: none;
}
#BackToTop:hover {
  background-color: #9eb277;
}
#BackToTop a {
  color: #9eb277;
}
#BackToTop a:hover {
  color: #4b0b6c;
  background-color: #9eb277;
}
#BackToTop a:active,
#BackToTop a:visited {
  text-decoration: none;
}
/*----------------------------------------------------------------------------*    MENU BAR
  \*----------------------------------------------------------------------------*/
/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
    BASIC ELEMENTS
  :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
