/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  SLIDER CAROUSEL
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
// .herobox
//   width       100%
//   min-height  400px
//   max-height  400px
//   overflow    hidden
//   img
//     width 100%

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  BANNER
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
// .banner
//   width       100%

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  PLACES NAVBAR
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
// .placesmenu
//   cf()
//   z-index           500
/*----------------------------------------------------------------------------*\
 * 04. = MENU BAR
\*----------------------------------------------------------------------------*/
// POSITIONING & STYLE

// NAVBAR STYLE

// LOGO

// LOGOUT

// NAV BUTTONS - MOBILE COLORS

// TAG MANAGER INPUT FIELD

// SEARCH

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
